<div class="p-h-md p-v bg-white box-shadow pos-rlt">
    <h3 class="no-margin">Novo Perfil</h3>
</div>
<div class="p-md">
    <div class="row">
        <div class="col-md-12">


            <div class="m-b text-sm">
                <mensagem></mensagem>
            </div>


            <form name="form" ng-submit="validarFormulario(form) && salvar()" novalidate>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <!-- CAMPO - NOME -->
                        <div class="form-group">
                            <label for="nome">{{'NOME' | translate}}</label>
                            <input type="text" name="{{'NOME' | translate}}"  class="form-control" ng-model="perfilVO.nome" id="nome" required>
                        </div>

                        <!-- CAMPO - SOBRENOME -->
                        <div class="form-group">
                            <label for="descricao">{{'DESCRICAO' | translate}}</label>
                            <input name="{{'DESCRICAO' | translate}}"  id="descricao" type="text"  class="form-control" ng-model="perfilVO.descricao" required>
                        </div>


                    </div>

                </div>

                <button type="submit" class="btn btn-addon btn-primary"><i class="fa fa-save"></i>{{'SALVAR' | translate}}</button>
                <button class="btn btn-default" ng-click="redirect('/perfis')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{'CANCELAR' | translate}}
                </button>
            </form>

        </div>

    </div>

</div>
