<div class="p-h-md p-v bg-white box-shadow pos-rlt">
  <h3 class="no-margin">Perfis</h3>
</div>
<div class="p-md">
  <div class="row">
    <div class="col-md-12">

     <mensagem></mensagem>

      <div class="panel panel-default">
        <div class="panel-heading bg-white">
          Filtrar Perfis<br>
          <small class="text-muted">Utilize os filtros abaixo para refinar os resultados</small>
        </div>
        <div class="panel-body">
          <form name="form" ng-submit="validarFormulario(form) && consultar()">

            <!-- FILTRO - NOME -->
            <div class="form-group">
              <label for="nome">{{'NOME' | translate}}</label>
              <input type="text" class="form-control" ng-model="consultaVO.filtros.nome" id="nome">
            </div>


            <!-- FILTRO - EMAIL -->
            <div class="form-group">
              <label for="descricao">{{'DESCRICAO' | translate}}</label>
              <input type="text" class="form-control" ng-model="consultaVO.filtros.descricao" id="descricao">
            </div>

            <!-- BOTAO - CONSULTAR -->
            <button type="submit" class="btn btn-default m-b">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              {{'CONSULTAR' | translate}}
            </button>
          </form>

          <!-- Lista de Perfis -->
          <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-heading">{{'LISTA_PERFIS' | translate}}</div>
              <table class="table table-striped" style="text-align: center;" ng-table="tabelaConsultarPerfis">
                <thead>
                  <tr>
                    <th>{{'NOME' | translate}}</th>
                    <th>{{'DESCRICAO' | translate}}</th>
                    <th>{{'ACOES' | translate}}</th>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="perfil in consultaVO.dados">
                    <td data-title="{{'NOME' | translate}}'">
                      {{perfil.nome}}
                    </td>
                    <td data-title="{{'DESCRICAO' | translate}}">
                      {{perfil.descricao}}
                    </td>

                    <td data-title="{{'ACOES' | translate}}"> 
                      <button class="btn btn-icon btn-default"  ng-click="redirect('/perfis/alterar/{{perfil.Id}}' )"><i class="ui-icon ti-pencil"></i></button>
                      <button class="btn btn-icon btn-default"  ng-click="excluir('{{perfil.Id}}')"><i class="ui-icon ti-close"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button class="btn btn-addon btn-primary" ng-click="redirect('/perfis/adicionar')"><i class="fa fa-plus"></i>{{'BOTAO_ADICIONAR' | translate}}</button>

        </div>
      </div>

    </div>

  </div>

</div>
