<div class="p-h-md p-v bg-white box-shadow pos-rlt">
    <h3 class="no-margin">Novo Usuário</h3>
</div>
<div class="p-md">
    <div class="row">
        <div class="col-md-12">


            <div class="m-b text-sm">
                <mensagem></mensagem>
            </div>


            <form name="form" ng-submit="validarFormulario(form) && salvar()" novalidate>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <!-- CAMPO - NOME -->
                        <div class="form-group">
                            <label for="nome">{{'NOME' | translate}}</label>
                            <input type="text" name="{{'NOME' | translate}}"  class="form-control" ng-model="usuarioVO.nome" id="nome" required>
                        </div>

                        <!-- CAMPO - EMAIL -->
                        <div class="form-group">
                            <label for="email">{{'EMAIL' | translate}}</label>
                            <input name="{{'EMAIL' | translate}}" id="email" type="email" class="form-control" ng-model="usuarioVO.email"  required>
                        </div>

                        <!-- CAMPO - SENHA -->
                        <div class="form-group">
                            <label for="senha">{{'SENHA' | translate}}</label>
                            <input name="{{'SENHA' | translate}}" id="senha" type="password"  class="form-control" ng-model="usuarioVO.senha" required>
                        </div>

                        <!-- CAMPO - CONFIRMACAO SENHA -->
                        <div class="form-group">
                            <label for="confirmacaoSenha">{{'SENHA_CONFIRMACAO' | translate}}</label>
                            <input name="{{'SENHA_CONFIRMACAO' | translate}}" type="password" id="confirmacaoSenha" class="form-control" ng-model="usuarioVO.senhaConfirmacao" required>
                        </div>

                        <!-- CAMPO - TERMOS E POLITICAS -->
                        <div class="form-group">
                            <input type="checkbox" name="{{'TERMOS_POLITICAS' | translate}}" ng-model="agree" required><i></i> {{'ACEITO_OS' | translate}} <a href>{{'TERMOS_POLITICAS' | translate}}</a>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-addon btn-primary"><i class="fa fa-save"></i>{{'SALVAR' | translate}}</button>
                <button class="btn btn-default" ng-click="redirect('/usuarios')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{'CANCELAR' | translate}}
                </button>
            </form>

        </div>

    </div>

</div>
