<div class="p-h-md p-v bg-white box-shadow pos-rlt">
    <h3 class="no-margin">Alterar Usuário</h3>
</div>
<div class="p-md">
    <div class="row">
        <div class="col-md-12">


            <div class="m-b text-sm">
                <mensagem></mensagem>
            </div>


            <form name="form" novalidate> 

                <div class="panel panel-default">
                    <div class="panel-body">

                        <!-- CAMPO - NOME -->
                        <div class="form-group">
                            <label for="nome">{{'NOME' | translate}}</label>
                            <input type="text" name="{{'NOME' | translate}}"  class="form-control" ng-model="usuarioVO.nome" value="usuarioVO.nome" id="nome" required>
                        </div>
 

                        <!-- CAMPO - EMAIL -->
                        <div class="form-group">
                            <label for="email">{{'EMAIL' | translate}}</label>
                            <input name="{{'EMAIL' | translate}}" id="email" type="email" class="form-control" ng-model="usuarioVO.email" value="usuarioVO.email"  required>
                        </div>

                        <!-- CAMPO - SENHA -->
                        <div class="form-group">
                            <label for="senha">{{'SENHA' | translate}}</label>
                            <input name="{{'SENHA' | translate}}" id="senha" type="password"  class="form-control" ng-model="usuarioVO.senha" value="usuarioVO.senha" required>
                        </div>

                        <!-- CAMPO - CONFIRMACAO SENHA -->
                        <div class="form-group">
                            <label for="confirmacaoSenha">{{'SENHA_CONFIRMACAO' | translate}}</label>
                            <input name="{{'SENHA_CONFIRMACAO' | translate}}" type="password" id="confirmacaoSenha" class="form-control" ng-model="usuarioVO.senhaConfirmacao" value="usuarioVO.senhaConfirmacao" required>
                        </div>

                          <!-- Lista de Perfis -->  
                          <div class="form-group">
                            <div class="panel panel-default">
                              <div class="panel-heading">{{'LISTA_PERFIS' | translate}}</div>
                              <table class="table table-striped" style="text-align: center;">
                                <thead>
                                  <tr>
                                    <th>{{'NOME' | translate}}</th>
                                    <th>{{'DESCRICAO' | translate}}</th>
                                    <th>{{'ACOES' | translate}}</th>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="perfil in usuarioVO.perfis"> 
                                    <td data-title="{{'NOME' | translate}}'">
                                      {{perfil.nome}}
                                    </td>
                                    <td data-title="{{'DESCRICAO' | translate}}">
                                      {{perfil.descricao}}
                                    </td>

                                    <td data-title="{{'ACOES' | translate}}"> 
                                      <button class="btn btn-icon btn-default"  ng-click="redirect('/perfis/alterar/{{perfil.Id}}' )"><i class="ui-icon ti-pencil"></i></button>
                                      <button class="btn btn-icon btn-default"  ng-click="excluirPerfil('{{perfil.Id}}')"><i class="ui-icon ti-close"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Vincular Perfil
                          </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Selecionar Perfil</h4>
                              </div>
                              <div class="modal-body">

                                    <div class="form-group">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">{{'LISTA_PERFIS' | translate}}</div>
                                          <table class="table table-striped" style="text-align: center;" ng-table="tabelaConsultarPerfis">
                                            <thead>
                                              <tr>
                                                <th>{{'NOME' | translate}}</th>
                                                <th>{{'DESCRICAO' | translate}}</th>
                                                <th>{{'ACOES' | translate}}</th>

                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="perfil in consultaPerfilVO.dados">
                                                <td data-title="{{'NOME' | translate}}'">
                                                  {{perfil.nome}}
                                                </td>
                                                <td data-title="{{'DESCRICAO' | translate}}">
                                                  {{perfil.descricao}}
                                                </td>

                                                <td data-title="{{'ACOES' | translate}}"> 
                                                  <button class="btn btn-icon btn-default"  ng-click="selecionarPerfil('{{perfil.Id}}' )"><i class="ui-icon ti-pencil"></i></button>
                                                 
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                
                              </div>
                            </div>
                          </div>
                        </div>


                    </div>

                </div>

                <button type="button" ng-click="validarFormulario(form) && alterar()" class="btn btn-addon btn-primary"><i class="fa fa-save"></i>{{'ALTERAR' | translate}}</button>
                <button class="btn btn-default" ng-click="redirect('/usuarios')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{'CANCELAR' | translate}}
                </button>
            </form>

        </div>

    </div>

</div>
