<div class="p-h-md p-v bg-white box-shadow pos-rlt">
  <h3 class="no-margin">Usuários</h3>
</div>
<div class="p-md">
  <div class="row">
    <div class="col-md-12">

     <mensagem></mensagem>

      <div class="panel panel-default">
        <div class="panel-heading bg-white">
          Filtrar Usuários<br>
          <small class="text-muted">Utilize os filtros abaixo para refinar os resultados</small>
        </div>
        <div class="panel-body">
          <form name="form" ng-submit="form.$valid && consultar()">

            <!-- FILTRO - NOME -->
            <div class="form-group">
              <label for="nome">{{'NOME' | translate}}</label>
              <input type="text" class="form-control" ng-model="consultaVO.filtros.nome" id="nome">
            </div>


            <!-- FILTRO - EMAIL -->
            <div class="form-group">
              <label for="nome">{{'EMAIL' | translate}}</label>
              <input type="text" class="form-control" ng-model="consultaVO.filtros.email" id="email">
            </div>

            <!-- BOTAO - CONSULTAR -->
            <button type="submit" class="btn btn-default m-b">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              {{'CONSULTAR' | translate}}
            </button>
          </form>

          <!-- Lista de Medicos -->
          <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-heading">{{'LISTA_USUARIOS' | translate}}</div>
              <table class="table table-striped" style="text-align: center;" ng-table="tabelaConsultarUsuarios">
                <thead>
                  <tr>
                    <th>{{'NOME' | translate}}</th>
                    <th>{{'SOBRENOME' | translate}}</th>
                    <th>{{'EMAIL' | translate}}</th>
                    <th>{{'ACOES' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="usuario in consultaVO.dados">
                    <td data-title="{{'SOBRENOME' | translate}}'">
                      {{usuario.nome}}
                    </td>
                    <td data-title="{{'SOBRENOME' | translate}}">
                      {{usuario.sobrenome}}
                    </td>
                    <td data-title="{{'EMAIL' | translate}}">
                      {{usuario.email}}                      
                    </td>
                     <td data-title="{{'ACOES' | translate}}">
                      <button class="btn btn-icon btn-default"  ng-click="redirect('/usuarios/alterar/{{usuario.Id}}' )"><i class="ui-icon ti-pencil"></i></button>
                      <button class="btn btn-icon btn-default"  ng-click="excluir('{{usuario.Id}}')"><i class="ui-icon ti-close"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button class="btn btn-addon btn-primary" ng-click="redirect('/usuarios/novo')"><i class="fa fa-plus"></i>{{'ADICIONAR' | translate}}</button>

        </div>
      </div>

    </div>

  </div>

</div>
