<div class="alert"
     ng-class="{'alert-warning': mensagemAtual.tipo == 'warning' ,
              'alert-info': mensagemAtual.tipo == 'info',
              'alert-danger': mensagemAtual.tipo == 'error'} "
     ng-show="mensagemAtual.texto">
    <button type="button" class="close" ng-click="limparMensagem()" >×</button>
    <div class="glyphicon"
         ng-class="{'glyphicon-warning-sign': mensagemAtual.tipo == 'warning' ,
              'glyphicon-ok-sign': mensagemAtual.tipo == 'info'}" ng-bind-html="mensagemAtual.texto"></div>
</div>