<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Geap | Prova de Conceito</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  <!-- build:css(app) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="styles/animate.css" type="text/css" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/themify-icons.css" type="text/css" />
  <link rel="stylesheet" href="styles/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="styles/font.css" type="text/css" />
  <link rel="stylesheet" href="../bower_components/ng-table/ng-table.css" />
  <!-- endbower -->
  <!-- endbuild --> 

  <!-- build:css(app) styles/main.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="styles/app.css" type="text/css" />
  <!-- endbower -->
  <!-- endbuild -->

  <style type="text/css">
    .validate-form .ng-dirty.ng-invalid {
      border-color: #FA787E;
      border-width: 2px;
    }
  </style>



</head>
<body ng-app="reviewMyText" ng-cloak>
<div class="app app-header-fixed" ng-controller="MainController">

  <!-- header -->
  <header id="header" class="navbar bg-primary"
          ng-class="{'app-header': templateFull == true, 'hidden' : templateFull == false}" role="menu">
          <!-- navbar header -->
      <div class="navbar-header box-shadow-inset dk">

        <!-- brand -->
        <a class="navbar-brand text-lt">
          <i class="glyphicon glyphicon-th-large text-md"></i>
          <img src="images/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">GEAP<sup class="text-xs font-thin">Prova de Conceito</sup></span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="navbar-collapse hidden-xs">
        <!-- nav -->
        <ul class="nav navbar-nav navbar-left">
          
        </ul>
        <!-- / nav -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right m-r-n" ng-controller="AcessoController">
          
          <li class="dropdown">
            <a href="#" target="_self"  class="clear no-padding-h" data-toggle="dropdown">
              <img src="images/a0.jpg" alt="..." class="navbar-img pull-right">
              <span class="hidden-sm m-l">{{variaveis.usuarioLogado.nome}}</span>
              <b class="caret m-h-xs hidden-sm"></b>
            </a>
            <ul class="dropdown-menu pull-right no-b-t">
              <li>
                <a href="javascript:void(0);" ng-click="redirect('/usuarios/alterar/{{variaveis.usuarioLogado.Id}}' )">Profile</a>
              </li>
              <li>
                <a href ng-click="logout()" target="_self">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- / navbar right -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-right visible-xs" role="search">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm no-bg btn-icon no-shadow no-padder"><i class="ti-search"></i></button>
              </span>
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm no-bg no-border" placeholder="Search...">
            </div>
          </div>
        </form>
        <!-- / search form -->
      </div>
      <!-- / navbar collapse -->
  </header>
  <!-- / header -->

  <!-- aside -->

  <aside id="aside" class="hidden-xs bg-dark lt" ng-class="{'app-aside': templateFull == true, 'hidden' : templateFull == false}">
    <div class="app-aside-inner" bs-affix>
  <div class="app-aside-body scrollable hover">
    <nav ui-nav>
  <ul class="nav">
    <li>
      <a>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class=" fa fa-user-md text-lt"></i>
        <span class="font-normal">Administração</span>
      </a>
      <ul class="nav nav-sub bg">
        <li>
          <a ng-href="#/usuarios">Usuários</a>
        </li>
        <li>
          <a ng-href="#/perfis">Perfil</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
  </div>
  <div class="app-aside-footer p text-xs text-center">
    <span><strong class="text-lt">3.5</strong>GB</span>
    <div class="progress progress-xs bg no-margin m-h-xs inline w-xs">
      <div class="progress-bar progress-bar-info" style="width:30%"></div>
    </div>
    <span>10GB</span>
  </div>
</div>
  </aside>
  <!-- / aside -->

  <!-- content -->
  <div id="content" class="app-content" role="main" ng-view="">

  <!--CONTEUDO VAI AQUI -->

  </div>
  <!-- / content -->

  <!-- footer -->
  <footer id="footer" class="app-footer" role="footer">
    <div class="p bg-white text-xs">
  <div class="pull-right hidden-xs hidden-sm text-muted">
      Desenvolvido com AngularJS &amp; Bootstrap  &copy; Copyright 2015
  </div>
  <ul class="list-inline no-margin text-center-xs">
    
  </ul>
</div>
  </footer>
  <!-- / footer -->

</div>

<!--JAVASCIPRT -->

<!-- build:js(app) scripts/vendor.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/ng-table/ng-table.js"></script>
<script src="../bower_components/angular-translate/angular-translate.min.js"></script>
<script src="../bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="../bower_components/angular-input-masks/angular-input-masks.js"></script>
<script src="../bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="./scripts/ui/ui-nav.js"></script>
<!-- endbuild -->


<script src="scripts/full.js"></script>


</body>
</html>
