

<div class="container">
   <div class="center-block w-xl w-auto-xs m-b-lg">
    <div class="text-2x m-v-lg text-primary"><i class="glyphicon glyphicon-th-large text-xl"></i> GEAP<sup class="text-xs font-thin">Prova de Conceito</sup></div>

     <div class="m-b text-sm">
        <mensagem></mensagem>

     </div>
     <div class="m-b text-sm">
      Efetue login com uma conta válida.
    </div> 
    <form name="form" class="validate-form" ng-submit="validarFormulario(form) && login()" novalidate>
      <div class="form-group m-b-xs">
        <label class="hide">Email</label>
        <input type="email" name="E-mail" placeholder="E-mail" class="form-control" ng-model="usuarioVO.email" required>
      </div>
      <div class="form-group m-b-xs">
        <label class="hide">Password</label>
        <input type="password" name="Senha" placeholder="Senha" class="form-control" ng-model="usuarioVO.senha" required>
      </div>
      <button type="submit" class="btn btn-info p-h-md m-v-lg">Log in</button>

      

      <p class="m-v-lg text-sm">Não possui usuário? <a ng-href="#/signup">Crie uma nova conta</a></p>
    </form>
  </div>
</div>
