<div class="container">
  <div class="center-block w-xl w-auto-xs m-b-lg">
    <div class="text-2x m-v-lg text-primary"><i class="glyphicon glyphicon-th-large text-xl"></i> GEAP<sup class="text-xs font-thin">Prova de Conceito</sup></div>
    <div class="m-b text-sm">

        <mensagem></mensagem>

    </div>
    <div class="m-b text-sm">
      {{'INSCREVA_SE' | translate}}
    </div>
    <form name="form_signup" class="validate-form" ng-submit="validarFormulario(form_signup) && salvar()" novalidate>
      <div class="form-group m-b-xs">
        <label class="hide">{{'NOME' | translate}}</label>
        <input name="{{'NOME' | translate}}" type="text" placeholder="{{'NOME' | translate}}" class="form-control" ng-model="usuarioVO.nome" required>
      </div>
      <div class="form-group m-b-xs">
        <label class="hide">{{'EMAIL' | translate}}</label>
        <input name="{{'EMAIL' | translate}}" type="email" placeholder="{{'EMAIL' | translate}}" class="form-control" ng-model="usuarioVO.email"  required>
      </div>
      <div class="form-group m-b-xs">
        <label class="hide">{{'SENHA' | translate}}</label>
        <input name="{{'SENHA' | translate}}" type="password" placeholder="{{'SENHA' | translate}}" class="form-control" ng-model="usuarioVO.senha" required>
      </div>
      <div class="form-group m-b-xs">
        <label class="hide">{{'SENHA_CONFIRMACAO' | translate}}</label>
        <input name="{{'SENHA_CONFIRMACAO' | translate}}" type="password" placeholder="{{'SENHA_CONFIRMACAO' | translate}}" class="form-control" ng-model="usuarioVO.senhaConfirmacao" required>
      </div>

      <div class="checkbox no-margin">
        <label class="ui-checks">
          <input type="checkbox" name="{{'TERMOS_POLITICAS' | translate}}" ng-model="agree" required><i></i> {{'ACEITO_OS' | translate}} <a href>{{'TERMOS_POLITICAS' | translate}}</a>
        </label>
      </div>
      <button type="submit"  class="btn btn-info p-h-md m-v-lg">{{'SALVAR' | translate}}</button>
      <p>{{'POSSUI_CONTA' | translate}}<a ng-href="#/signin">{{'ACESSE' | translate}}</a></p>
    </form>
  </div>
</div>
